html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.jobs {
	display:block;
}

.job {
	display:inline-block;
	vertical-align:top;
	width:200px;
	border:1px solid black;
	padding:20px;
}