@import 'scss/reset';
@import 'scss/fonts';
@import 'scss/vars';
@import 'scss/mixins';
@import 'scss/structure';
@import 'scss/type';
@import 'scss/fontello';
@import 'scss/animations';

@import 'scss/header';
@import 'scss/footer';
@import 'scss/filters';
@import 'scss/jobs';
@import 'scss/toggle-display';
@import 'scss/skills';
@import 'scss/searchbar';
@import 'scss/title';
@import 'scss/intro';
@import 'scss/social-icons';
@import 'scss/box';
@import 'scss/overlay';
@import 'scss/slider';