.boxes{
	margin: 0 -3.25% ($padding-base * 2);

	@media(min-width:$tablet){
		margin: 0 -2.25% ($padding-base * 2);
	}

	/*hide and show according to page display toggle*/
	main & {
		display:block;
		transform: translate3d(101vw,0,0);
		transition:transform .5s, max-height 0s;
		transition-delay:0, 1s;
		max-height:0;
		overflow: visible;
	}

	.active-display--icons main & {
		display:block;
		transform: translate3d(0,0,0);
		max-height:1000px;
	}
}

.box {
	display:inline-block;
	position:relative;
	cursor:pointer;
	width:33.33%;

	@media(min-width:$tablet){
		width:20%;
	}

	&:before {
		display:block;
		content:" ";
		margin-top:100%;
		background:red;
	}

	img {
		display: block;
		position:absolute;
		top:50%;
		left:50%;
		width:75%;
		transform:translate3d(-50%,-50%,0);
	}
}