@import url('https://fonts.googleapis.com/css?family=Overpass:100,200,200i,400,400i,800');

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/fontello.eot?16270655');
  src: url('fonts/fontello/fontello.eot?16270655#iefix') format('embedded-opentype'),
       url('fonts/fontello/fontello.woff2?16270655') format('woff2'),
       url('fonts/fontello/fontello.woff?16270655') format('woff'),
       url('fonts/fontello/fontello.ttf?16270655') format('truetype'),
       url('fonts/fontello/fontello.svg?16270655#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}