.header{
	@include full-width-el();
	background:$color-header-bg;
	color:$color-header-text;
	padding: $padding-base;
	margin-top:-$padding-base;
	margin-bottom:$padding-base * 2;

	@media(min-width:$desktop){
		padding:10vh $padding-base $padding-base;
	}

	.skill {
		padding:3px 1px 1px;
		font-size:$font-size-h5;
		border-bottom:1px solid white;
		cursor:pointer;

		&:hover,
		strong {
			font-weight: 400;
			color:$color-secondary;
			border-bottom-color:$color-secondary;
		}
	}

}