.jobs {
	display:block;
}

.job {
	clear:both;
	margin-bottom:50px;

	img{
		max-width: 100%;
		overflow:hidden;
		float:left;

		@media(min-width:768px){
			width:120px;
			margin-right:20px;
		}
	}
	.job-text {
		overflow:hidden;
	}
}