.slider {
	&--slides-wrapper {
		display:block;
		width:calc(100vw - #{$padding-base * 2});
		max-width: $container-max;
		overflow:hidden;

		@media(min-width:$wide){
			max-width: $container-max-wide;
		}
	}

	&--slides {
		width:200%;
		overflow:hidden;
		transition:transform .5s;
	}

	&--slide {
		display:block;
		float:left;
		width:calc(100vw - #{$padding-base * 2});
		max-width: $container-max;

		@media(min-width:$wide){
			max-width: $container-max-wide;
		}
	}
}