.social-icons {
	margin:0 0 $padding-base * 1.5;
	padding:0;

	li{
		margin:0;
		padding:0;
		display: inline-block;
	}

	&--icon {
		color:white;
		text-decoration: none;
		font-size: $font-size-h2;

		& > span {
			display:none;
		}
	}
}