h1,
.h1{
	font-size:$font-size-h1;
	font-weight:400;
}
h2,
.h2{
	font-size:$font-size-h2;
	margin-bottom:1em;
	font-weight:400;
}
h3,
.h3{
	font-size:$font-size-h3;
	font-weight:400;
}
h4,
.h4{
	font-size:$font-size-h4;
}
h5,
.h5{
	font-size:$font-size-h5;
}

strong {
	font-weight:800;
}

p {
	margin-bottom:1em;
}

.weight-thin {
	font-weight:100;
}
.weight-light {
	font-weight:200;
}